/* 
HI THERE!

Quick notes about classnames.

(A)  lower case, seperated by dashes
    .class-name{
        ...
    }


(B)  2 dashes( -- ) denotes that a class is a direct child of another element:

<div class="big-story">
  <div class="big-story--title">ASDF</div>
  <div class="big-story--img"></div<
</div>:

makes components easier to reason around and keeps heirarchy clearer. 
 */
/* change some bootstrap defaults*/
body {
  color: #58595b;
  font-size: 14px; }

a {
  color: #f7991c; }
  a:hover, a:focus {
    color: #58595b;
    border-bottom: 1px solid #f7991c;
    text-decoration: none; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.btn {
  border-radius: 0;
  border: 0 none;
  transition: all 0.125s ease-out; }

.btn-primary {
  background: #f7991c;
  color: #ffffff; }
  .btn-primary:hover {
    background: #000000; }

input[type=text], input[type=email], textarea {
  border-radius: 0px;
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

.form-control {
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

/* default styles */
* {
  box-sizing: border-box; }

iframe {
  max-width: 100%; }

.inherit {
  color: inherit !important;
  text-decoration: inherit !important;
  border-bottom: inherit !important; }

.flex {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

@media (min-width: 768px) {
  .sm-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

@media (min-width: 992px) {
  .md-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

@media (min-width: 1200px) {
  .lg-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h1, .h1, h2, .h2, h3, .h3 {
  margin: 25px 0;
  color: #231f20; }

h1, .h1 {
  font-size: 60px; }

/* template header.php, footer.php - header and footer */
.site-header {
  background: #000000;
  color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 9; }

main {
  padding-top: 78px; }

.site-header--inner {
  align-items: center;
  justify-content: space-between; }

.site-header--logo img {
  max-width: 270px;
  margin: 0 auto; }

.main-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; }
  .main-navigation ul li a {
    font-size: 14px;
    color: #ffffff;
    padding: 28px 22px 28px 20px;
    display: block;
    position: relative;
    transition: background 0.1s ease-out; }
    .main-navigation ul li a:hover, .main-navigation ul li a:focus {
      border-bottom: 0 none;
      background-color: #f7991c; }
      .main-navigation ul li a:hover:after, .main-navigation ul li a:focus:after {
        background-color: #f7991c; }
    @media (min-width: 1200px) {
      .main-navigation ul li a {
        font-size: 16px; } }
    .main-navigation ul li a:after {
      display: block;
      content: '';
      position: absolute;
      right: 2px;
      top: 50%;
      margin-top: -20px;
      height: 40px;
      width: 2px;
      background-color: #bcbec0; }
  .main-navigation ul li:last-child a:after {
    display: none; }

.site-footer {
  color: #ffffff; }
  .site-footer a {
    display: inline-block; }
    .site-footer a img.svg {
      width: 34px;
      height: 35px; }
  .site-footer .site-footer--top {
    background: #58595b;
    padding: 20px 0; }
    .site-footer .site-footer--top .site-footer--social, .site-footer .site-footer--top p {
      display: inline-block;
      margin-right: 5px; }
  .site-footer .site-footer--bottom {
    background: #000000;
    padding: 20px;
    text-align: center; }
    .site-footer .site-footer--bottom .col-xs-12 {
      justify-content: space-between;
      align-items: center; }
    .site-footer .site-footer--bottom nav ul {
      padding: 0; }
      .site-footer .site-footer--bottom nav ul li {
        display: inline;
        padding: 0 5px;
        border-right: 1px solid #ffffff; }
        .site-footer .site-footer--bottom nav ul li a {
          color: #ffffff; }
        .site-footer .site-footer--bottom nav ul li:last-child {
          border-right: 0 none; }
    .site-footer .site-footer--bottom .site-footer--logo {
      max-width: 200px; }
    .site-footer .site-footer--bottom .site-footer--copyright {
      color: #6d6e71; }

/* home page - index.php */
.section-heading {
  text-align: center;
  margin-top: 70px; }

.hero {
  padding-top: 35px; }

.periodic {
  display: block;
  position: relative;
  overflow-x: scroll; }
  @media (min-width: 768px) {
    .periodic {
      overflow: hidden; } }
  .periodic .periodic--info {
    height: 210px;
    width: 398px;
    background-color: #000000;
    background-image: url("../img/periodic/default.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 130px;
    display: flex;
    align-items: flex-end; }
    @media (min-width: 992px) {
      .periodic .periodic--info {
        height: 265px;
        width: 500px;
        left: 183px; } }
  .periodic .periodic--row {
    display: flex;
    justify-content: flex-start; }
  .periodic .row1 {
    justify-content: space-between; }
  .periodic .row2 .el:nth-child(3), .periodic .row3 .el:nth-child(3) {
    margin-left: auto; }

.el {
  background: #f7991c;
  border: 7px solid #000000;
  border-top: 0 none;
  height: 70px;
  margin: 2px 2.65px;
  transition: background 0.125s ease-in-out, color 0.125s ease-in-out; }
  .el.el-large {
    width: 115px;
    height: 145px;
    border-width: 10px; }
    .el.el-large .el--name {
      font-size: 22px; }
    .el.el-large .el--symbol {
      font-size: 70px; }
  .el.el-small {
    width: 57px;
    height: 66px;
    border-width: 5px; }
    .el.el-small .el--name {
      font-size: 8px;
      text-align: left; }
    .el.el-small .el--symbol {
      font-size: 35px; }
  .el.el-medium:hover, .el.el-medium:active, .el.el-medium:focus {
    cursor: pointer;
    background: #ffffff;
    border-color: #bcbec0; }
    .el.el-medium:hover .el--name, .el.el-medium:active .el--name, .el.el-medium:focus .el--name {
      background: #bcbec0; }
    .el.el-medium:hover .el--symbol, .el.el-medium:active .el--symbol, .el.el-medium:focus .el--symbol {
      color: #f7991c; }
  @media (min-width: 992px) {
    .el {
      height: 90px;
      width: 75px;
      margin: 2px; } }
  .el .el--name {
    color: #ffffff;
    background: #000000;
    font-size: 12px;
    line-height: 1.5em; }
  .el .el--symbol {
    color: #000000;
    font-weight: bold;
    padding: 3px 10px;
    font-size: 28px;
    text-align: center; }
    @media (min-width: 992px) {
      .el .el--symbol {
        font-size: 48px; } }

.watch .tags, .read .tags {
  color: #f7991c;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px; }

.bg-greyDark {
  background: #58595b;
  padding-top: 30px; }

.watch-post {
  padding-bottom: 40px; }
  .watch-post h1, .watch-post .h1 {
    font-size: 22px;
    margin: 20px 0;
    color: #ffffff; }
  .watch-post a:hover, .watch-post a:active, .watch-post a:focus {
    color: #ffffff; }

.watch-post--img {
  cursor: pointer;
  position: relative;
  background-color: #f7991c;
  height: 184px;
  overflow: hidden; }
  .watch-post--img:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background-image: url(../img/video-play-button.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  .watch-post--img:hover img {
    opacity: 0.6; }

.watch-post--background-image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important; }

.read-post {
  margin-bottom: 10px; }
  .read-post .post--details {
    flex-grow: 3; }
  .read-post.Sponsored .post--details {
    background: #e6e7e8; }
  .read-post .post--img img {
    width: 100%; }
  .read-post .post--details--inner {
    padding-bottom: 10px; }
    @media (min-width: 992px) {
      .read-post .post--details--inner {
        max-width: 500px; } }
  .read-post h1, .read-post .h1 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color: #58595b; }
  .read-post .post--meta {
    margin-bottom: 10px; }

.banner-container {
  border: 0px none;
  margin: 30px 0px 35px;
  text-align: center;
  font-size: 22px;
  padding: 30px 0;
  color: #ffffff;
  background: #58595b; }

.asskicker--banner {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 78px;
  font-weight: bold; }

.asskicker--asskicker {
  color: #f7991c;
  font-style: italic; }

.asskicker--img-container img {
  width: 100%; }

.asskicker--name {
  font-size: 36px;
  color: #6d6e71;
  font-weight: bold; }

/* single post, single.php */
.single-post .title {
  font-size: 38px;
  line-height: 1.2em;
  margin: 35px 0;
  color: #414042; }

.single-post .post-meta {
  justify-content: space-between;
  margin-bottom: 25px; }

.single-post .single-post--tags .el {
  width: initial;
  min-width: 75px; }
  .single-post .single-post--tags .el:hover, .single-post .single-post--tags .el:focus {
    border-bottom-width: 7px; }

.single-post .single-post--img {
  width: 100%; }

.single-post .single-post--img, .single-post .single-post--video {
  margin-bottom: 10px; }

.single-post .post-meta-2 {
  justify-content: space-between;
  margin-bottom: 15px; }

.single-post .social-icons a {
  display: inline-block; }
  .single-post .social-icons a img {
    width: 34px;
    height: 34px; }
  .single-post .social-icons a:hover, .single-post .social-icons a:active, .single-post .social-icons a:focus {
    border-bottom: 0 none; }

.single-post .the-description {
  font-style: italic;
  color: #6d6e71; }

.single-post .the-content {
  color: #231f20; }

.sidebar-section-header {
  background: #f7991c;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px; }

.related-video {
  margin-bottom: 10px;
  display: block; }
  .related-video:hover {
    border-bottom: 0 none; }

.related-video--title {
  background: #58595b;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 10px; }

.related-video--img {
  height: 184px;
  background-color: #58595b;
  background-size: cover;
  background-position: center center; }
  .related-video--img .play-button {
    padding: 10px; }

.related-editorial {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #6d6e71; }
  .related-editorial:hover {
    border-bottom: 2px solid #6d6e71; }

.related-editorial--img {
  width: 174px;
  height: 118px;
  background-size: cover;
  background-position: center center; }

.related-editorial--title {
  max-width: 100px;
  color: #58595b;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold; }
  .related-editorial--title:hover {
    color: #f7991c; }

/* tag page template */
.tag-page h1, .tag-page .h1 {
  font-size: 34px;
  padding-left: 10px; }

.tag-page--header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0; }

.tag-read {
  padding-top: 60px; }
  .tag-read h1, .tag-read .h1 {
    color: #414042;
    padding-left: 0; }
