/* 
HI!
A quick note on the classnames.
2 dashes( -- ) denotes that a class is a direct child of another element:

<div class="story">
  <div class="story--title">ASDF</div>
</div>:

Try to keep that in mind when naming and styling stuff, makes components easier to reason around
 */
/* change some bootstrap default classes*/
body {
  color: #58595b;
  font-size: 14px; }

a {
  color: #f7991c; }
  a:hover, a:focus {
    color: #58595b;
    border-bottom: 1px solid #f7991c;
    text-decoration: none; }

.btn {
  border-radius: 0;
  border: 0 none;
  transition: all 0.125s ease-out; }

.btn-primary {
  background: #f7991c;
  color: #ffffff; }
  .btn-primary:hover {
    background: #000000; }

input[type=text], input[type=email], textarea {
  border-radius: 0px;
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

.form-control {
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

/* default styles */
* {
  box-sizing: border-box; }

.inherit {
  color: inherit !important;
  text-decoration: inherit !important;
  border-bottom: inherit !important; }

.flex {
  display: flex; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h1, .h1, h2, .h2, h3, .h3 {
  margin: 25px 0;
  color: #231f20; }

h1, .h1 {
  font-size: 60px; }

/* template - header and footer */
.site-header {
  background: #000000;
  color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 9; }

main {
  padding-top: 70px; }

.site-header--inner {
  align-items: center;
  justify-content: space-between; }

.site-header--logo {
  max-width: 270px; }

.main-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; }
  .main-navigation ul li a {
    font-size: 16px;
    color: #ffffff;
    border-right: 2px solid #bcbec0;
    padding: 10px 20px;
    display: block; }
    .main-navigation ul li a:hover, .main-navigation ul li a:focus {
      border-bottom: 0 none;
      background-color: #f7991c; }
  .main-navigation ul li:last-child a {
    border-right: 0 none; }

.site-footer {
  border-top: 3px solid #f7991c;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  background: #58595b;
  color: #e6e7e8; }

/* home page - index.php */
.section-heading {
  text-align: center; }

.hero {
  padding-top: 35px; }

.periodic {
  display: block;
  position: relative;
  overflow-x: scroll; }
  @media (min-width: 768px) {
    .periodic {
      overflow: hidden; } }
  .periodic .periodic--info {
    height: 210px;
    width: 398px;
    background-color: #000000;
    background-image: url("../img/periodic/default.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 130px;
    display: flex;
    align-items: flex-end; }
    @media (min-width: 992px) {
      .periodic .periodic--info {
        height: 265px;
        width: 500px;
        left: 183px; } }
  .periodic .periodic--row {
    display: flex;
    justify-content: flex-start; }
  .periodic .el {
    background: #f7991c;
    border: 7px solid #000000;
    border-top: 0 none;
    height: 70px;
    margin: 2px 2.65px;
    transition: background 0.125s ease-in-out, color 0.125s ease-in-out; }
    .periodic .el.el-large {
      width: 115px;
      height: 145px;
      border-width: 10px; }
      .periodic .el.el-large .el--name {
        font-size: 22px; }
      .periodic .el.el-large .el--symbol {
        font-size: 70px; }
    @media (min-width: 992px) {
      .periodic .el {
        height: 90px;
        width: 75px;
        margin: 2px; } }
    .periodic .el .el--name {
      color: #ffffff;
      background: #000000;
      font-size: 12px;
      line-height: 1.5em; }
    .periodic .el .el--symbol {
      color: #000000;
      font-weight: bold;
      padding: 3px 10px;
      font-size: 28px;
      text-align: center; }
      @media (min-width: 992px) {
        .periodic .el .el--symbol {
          font-size: 48px; } }
    .periodic .el:hover, .periodic .el:active, .periodic .el:focus {
      cursor: pointer;
      background: #ffffff;
      border-color: #bcbec0; }
      .periodic .el:hover .el--name, .periodic .el:active .el--name, .periodic .el:focus .el--name {
        background: #bcbec0; }
      .periodic .el:hover .el--symbol, .periodic .el:active .el--symbol, .periodic .el:focus .el--symbol {
        color: #f7991c; }
  .periodic .row1 {
    justify-content: space-between; }
  .periodic .row2 .el:nth-child(3), .periodic .row3 .el:nth-child(3) {
    margin-left: auto; }

.watch .tags, .read .tags {
  color: #f7991c;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px; }

.watch .bg-greyDark, .read .bg-greyDark {
  background: #58595b;
  padding-top: 30px; }

.watch-post {
  padding-bottom: 40px; }
  .watch-post h1, .watch-post .h1 {
    font-size: 22px;
    margin: 20px 0;
    color: #fff; }
  .watch-post .watch-post--video-container {
    min-height: 185px;
    background: #000000; }

.read-post {
  margin-bottom: 10px; }
  .read-post .post--details {
    flex-grow: 3; }
  .read-post.Sponsored .post--details {
    background: #e6e7e8; }
  .read-post .post--img img {
    width: 100%; }
  .read-post .post--details--inner {
    padding-bottom: 10px; }
    @media (min-width: 992px) {
      .read-post .post--details--inner {
        max-width: 500px; } }
  .read-post h1, .read-post .h1 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color: #58595b; }
  .read-post .post--meta {
    margin-bottom: 10px; }

.asskicker--banner {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 78px;
  font-weight: bold; }

.asskicker--asskicker {
  color: #f7991c;
  font-style: italic; }

.asskicker--img-container img {
  width: 100%; }

.asskicker--name {
  font-size: 36px;
  color: #6d6e71; }
