/* 
HI THERE!

Quick notes about classnames.

(A)  lower case, seperated by dashes
    .class-name{
        ...
    }


(B)  2 dashes( -- ) denotes that a class is a direct child of another element:

<div class="big-story">
  <div class="big-story--title">ASDF</div>
  <div class="big-story--img"></div<
</div>

makes components easier to reason around and keeps heirarchy clearer. 

(C)  class names that begin with "js_" are javascript hooks, don't style them.

*/
/* fonts ! */
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/helveticaneue/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/helveticaneue/HelveticaNeueLTStd-Hv.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-HvIt.eot");
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-HvIt.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/HelveticaNeueLTStd-HvIt.woff") format("woff"), url("../fonts/helveticaneue/HelveticaNeueLTStd-HvIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/helveticaneue/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/helveticaneue/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/helveticaneue/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* change some bootstrap defaults*/
body {
  color: #58595b;
  font-size: 14px; }

a {
  color: #f7991c; }
  a:hover, a:focus {
    color: #58595b;
    border-bottom: 1px solid #f7991c;
    text-decoration: none; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.btn {
  border-radius: 0;
  border: 0 none;
  transition: all 0.125s ease-out; }

.btn-primary {
  background: #f7991c;
  color: #ffffff; }
  .btn-primary:hover {
    background: #000000; }

input[type=text], input[type=email], textarea {
  border-radius: 0px;
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

.form-control {
  border-bottom: 3px solid #bcbec0;
  border-right: 3px solid #bcbec0; }

/* default styles */
* {
  box-sizing: border-box; }

iframe {
  max-width: 100%; }

.inherit {
  color: inherit !important;
  text-decoration: inherit !important;
  border-bottom: inherit !important; }

.flex {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

@media (min-width: 768px) {
  .sm-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

@media (min-width: 992px) {
  .md-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

@media (min-width: 1200px) {
  .lg-flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; } }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h1, .h1, h2, .h2, h3, .h3 {
  margin: 25px 0;
  color: #231f20; }

h1, .h1 {
  font-size: 32px; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 60px; } }

.pirate_forms_wrap .form_field_wrap {
  width: 100%;
  margin: 0; }

.pirate_forms_wrap .form-control {
  border: 1px solid #e6e7e8 !important;
  border-radius: 0px; }

.pirate_forms_wrap textarea {
  margin: 20px 0; }

.pirate_forms_wrap .pirate-forms-submit-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 0;
  border: 1px solid #f7991c;
  transition: all 0.125s ease-out;
  color: #ffffff;
  background: #f7991c; }
  .pirate_forms_wrap .pirate-forms-submit-button:hover {
    background: transparent;
    color: #231f20; }

/* template header.php, footer.php - header and footer */
.site-header {
  background: #000000;
  color: #ffffff;
  width: 100%;
  z-index: 9; }
  .site-header .search {
    padding: 0 0 22px 0; }
    @media (min-width: 992px) {
      .site-header .search {
        padding: 22px 0; } }

.site-header--inner {
  align-items: center;
  justify-content: space-between; }

.site-header--logo img {
  max-width: 270px;
  margin: 0 auto; }

.main-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-navigation ul li a {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 20px 18px 20px 16px;
    display: block;
    position: relative;
    transition: background 0.1s ease-out; }
    @media (min-width: 360px) {
      .main-navigation ul li a {
        font-size: 18px; } }
    @media (min-width: 768px) {
      .main-navigation ul li a {
        padding: 20px 22px 20px 20px; }
        .main-navigation ul li a:after {
          display: block;
          content: '';
          position: absolute;
          right: 2px;
          top: 50%;
          margin-top: -20px;
          height: 40px;
          width: 2px;
          background-color: #bcbec0; } }
    @media (min-width: 992px) {
      .main-navigation ul li a {
        font-size: 16px;
        padding: 28px 22px 28px 20px; } }
    .main-navigation ul li a:hover, .main-navigation ul li a:focus {
      border-bottom: 0 none;
      background-color: #f7991c; }
      .main-navigation ul li a:hover:after, .main-navigation ul li a:focus:after {
        background-color: #f7991c; }
  .main-navigation ul li:last-child a:after {
    display: none; }

.site-footer {
  color: #ffffff;
  margin-top: 10px; }
  .site-footer a {
    display: inline-block; }
    .site-footer a img.svg {
      width: 24px;
      height: 24px; }
  .site-footer .site-footer--top {
    background: #58595b;
    padding: 20px 0; }
    .site-footer .site-footer--top .site-footer--social, .site-footer .site-footer--top p {
      display: inline-block;
      margin-right: 5px; }
      .site-footer .site-footer--top .site-footer--social a:hover, .site-footer .site-footer--top p a:hover {
        border-bottom: 0 none; }
  .site-footer .site-footer--bottom {
    background: #000000;
    padding: 20px;
    text-align: center; }
    .site-footer .site-footer--bottom .col-xs-12 {
      justify-content: space-between;
      align-items: center; }
    .site-footer .site-footer--bottom nav ul {
      padding: 0; }
      .site-footer .site-footer--bottom nav ul li {
        display: inline;
        padding: 0 5px;
        border-right: 1px solid #ffffff; }
        .site-footer .site-footer--bottom nav ul li a {
          color: #ffffff;
          border-bottom: 1px solid transparent; }
          .site-footer .site-footer--bottom nav ul li a:hover {
            border-bottom: 1px solid #f7991c; }
        .site-footer .site-footer--bottom nav ul li:last-child {
          border-right: 0 none; }
    .site-footer .site-footer--bottom .site-footer--logo {
      max-width: 200px; }
    .site-footer .site-footer--bottom .site-footer--copyright {
      color: #6d6e71; }

/* home page - index.php */
.section-heading {
  text-align: center;
  font-weight: bold; }
  @media (min-width: 768px) {
    .section-heading {
      margin-top: 70px; } }
  .section-heading .first-word {
    color: #f7991c;
    font-style: italic; }

.hero .section-heading {
  margin-top: 25px;
  font-size: 32px; }
  @media (min-width: 768px) {
    .hero .section-heading {
      font-size: 60px; } }

.periodic {
  display: block;
  position: relative;
  text-align: center;
  min-height: 75px; }
  .periodic > * {
    transition: opacity 1s ease-out; }
  @media (min-width: 768px) {
    .periodic {
      overflow: hidden; } }
  @media (min-width: 992px) {
    .periodic {
      text-align: initial; } }
  .periodic.loading {
    pointer-events: none;
    background-image: url(../img/ellipsis.gif);
    background-repeat: no-repeat;
    background-position: center center; }
    .periodic.loading > * {
      opacity: 0; }
  .periodic .periodic--info {
    display: none;
    background-color: #f7991c;
    background-image: url("../img/periodic/default.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    align-items: flex-end;
    transition: all 0.125s ease-in-out;
    border: 0px solid #f7991c; }
    .periodic .periodic--info:hover {
      border-width: 6px; }
    @media (min-width: 768px) {
      .periodic .periodic--info {
        display: flex;
        height: 200px;
        width: 407px;
        left: 127px; } }
    @media (min-width: 992px) {
      .periodic .periodic--info {
        height: 265px;
        width: 535px;
        left: 163px;
        margin-top: 0;
        top: 0;
        border: 0 none;
        box-shadow: none; } }
    @media (min-width: 1200px) {
      .periodic .periodic--info {
        height: 314px;
        width: 638px;
        left: 203px; } }
  .periodic .periodic--row {
    display: inline; }
    @media (min-width: 768px) {
      .periodic .periodic--row {
        display: flex;
        justify-content: flex-start; } }
  .periodic .row1 {
    justify-content: space-between; }
  .periodic .row2 .el:nth-child(3), .periodic .row3 .el:nth-child(3) {
    margin-left: auto; }
  .periodic .el {
    display: inline-block;
    margin: 1.5px; }
    @media (min-width: 992px) {
      .periodic .el {
        margin: 1.7px; } }
    @media (min-width: 1200px) {
      .periodic .el {
        margin: 2.5px; } }

.el {
  display: block;
  background: #f7991c;
  border: 7px solid #000000;
  border-top: 0 none;
  width: 57px;
  height: 66px;
  line-height: 1.0em;
  transition: background 0.125s ease-in-out, color 0.125s ease-in-out;
  position: relative; }
  @media (min-width: 992px) {
    .el {
      width: 75px;
      height: 86.84px; } }
  @media (min-width: 1200px) {
    .el {
      width: 90px;
      height: 104.21px; } }
  .el.el-medium {
    width: 75px;
    height: 86.84px; }
    @media (min-width: 992px) {
      .el.el-medium {
        width: 90px;
        height: 104.21px; } }
    .el.el-medium .el--name {
      font-size: 14px;
      text-align: left; }
      @media (min-width: 992px) {
        .el.el-medium .el--name {
          font-size: 11.5px; } }
    .el.el-medium .el--symbol {
      color: #000000;
      font-weight: bold;
      padding: 16px 0 0 0;
      font-size: 38px;
      text-align: center; }
      @media (min-width: 992px) {
        .el.el-medium .el--symbol {
          font-size: 48px;
          padding: 22px 0; } }
  .el.el-large {
    width: 115px;
    height: 133.16px;
    border-width: 10px;
    margin: 0px; }
    .el.el-large .el--name {
      line-height: 1.0em;
      font-size: 22px; }
    .el.el-large .el--symbol {
      font-size: 80px; }
  .el.el-hoverable:hover, .el.el-hoverable:focus, .el.el-hoverable.el-active {
    cursor: pointer;
    background: #ffffff;
    border-color: #bcbec0; }
    .el.el-hoverable:hover .el--name, .el.el-hoverable:focus .el--name, .el.el-hoverable.el-active .el--name {
      background: #bcbec0; }
    .el.el-hoverable:hover .el--symbol, .el.el-hoverable:focus .el--symbol, .el.el-hoverable.el-active .el--symbol {
      color: #f7991c; }
  .el .el--name {
    color: #ffffff;
    background: #000000;
    font-size: 12px;
    padding: 4px 0 1px;
    font-family: "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left; }
    @media (min-width: 768px) {
      .el .el--name {
        font-size: 10px; } }
    @media (min-width: 992px) {
      .el .el--name {
        font-size: 12px; } }
    .el .el--name .el--name--sm {
      font-size: 0.8em; }
      @media (min-width: 992px) {
        .el .el--name .el--name--sm {
          font-size: 1.0em; } }
  .el .el--symbol {
    color: #000000;
    font-weight: bold;
    padding: 9px 0 0 0;
    font-size: 30px;
    line-height: 1.0em;
    font-family: "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center; }
    @media (min-width: 992px) {
      .el .el--symbol {
        font-size: 38px;
        padding: 17px 0 0 0; } }
    @media (min-width: 1200px) {
      .el .el--symbol {
        font-size: 50px;
        padding: 20px 0; } }

.supertag-row {
  margin: 5px 15px;
  justify-content: space-around; }
  .supertag-row .el-active:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #bcbec0; }

.supertag-row-expanded .bucket {
  padding: 10px 0;
  margin: 7px 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  border: 7px solid #bcbec0; }

.watch .tags, .read .tags {
  color: #f7991c;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px; }

.bg-greyDark {
  background: #58595b;
  color: #ffffff;
  padding-top: 30px; }

.watch-post {
  padding-bottom: 40px; }
  .watch-post h1, .watch-post .h1 {
    font-size: 22px;
    margin: 10px 0;
    color: #ffffff; }
  .watch-post a:hover, .watch-post a:active, .watch-post a:focus {
    color: #ffffff; }
  .watch-post .post--meta {
    margin-bottom: 10px; }

.watch-post--img {
  cursor: pointer;
  position: relative;
  background-color: #f7991c;
  height: 184px;
  overflow: hidden; }
  .watch-post--img:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background-image: url(../img/video-play-button.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  .watch-post--img:hover .watch-post--background-image {
    opacity: 0.6; }

.watch-post--background-image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important; }

.read-post {
  margin-bottom: 10px; }
  .read-post .post--details {
    flex-grow: 3; }
  .read-post.Sponsored .post--details {
    background: #e6e7e8; }
  .read-post .post--img img {
    width: 100%; }
  .read-post .post--details--inner {
    padding-bottom: 10px; }
    @media (min-width: 992px) {
      .read-post .post--details--inner {
        max-width: 500px; } }
  .read-post h1, .read-post .h1 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color: #58595b; }
  .read-post .post--meta {
    justify-content: space-between;
    margin-bottom: 10px; }
  .read-post .read-post--background-image {
    height: 185px;
    background-size: cover !important;
    background-position: center center !important; }

.banner-container {
  border: 0px none;
  margin: 30px 0px 35px;
  text-align: center;
  font-size: 22px;
  padding: 30px 0;
  color: #ec0081;
  font-weight: bold;
  background: #d2d3d5; }

.asskicker {
  margin-bottom: 10px; }

.asskicker--banner {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  padding: 5px 0;
  font-weight: bold; }
  @media (min-width: 1200px) {
    .asskicker--banner {
      font-size: 78px;
      padding: 0; } }

.asskicker--asskicker {
  color: #f7991c;
  font-style: italic; }

.asskicker--img-container img {
  width: 100%; }

.asskicker--name {
  font-size: 22px;
  color: #6d6e71;
  font-weight: bold;
  margin-top: 15px; }
  @media (min-width: 1200px) {
    .asskicker--name {
      font-size: 36px; } }
  .asskicker--name .first-word {
    color: #f7991c;
    font-style: italic; }

/* single post, single.php */
.single-post .title {
  font-size: 38px;
  line-height: 1.2em;
  margin: 35px 0;
  color: #414042; }

.single-post .post-meta {
  justify-content: space-between;
  margin-bottom: 25px; }

.single-post .single-post--tags {
  flex-wrap: wrap; }
  .single-post .single-post--tags .el {
    margin-right: 5px; }
    .single-post .single-post--tags .el:hover, .single-post .single-post--tags .el:focus {
      border-bottom-width: 7px; }

.single-post .single-post--img {
  width: 100%; }

.single-post .single-post--img, .single-post .single-post--video {
  margin-bottom: 10px; }

.single-post .post-meta-2 {
  justify-content: space-between;
  margin-bottom: 15px; }

.single-post .social-icons {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .single-post .social-icons {
      margin-top: 0; } }
  .single-post .social-icons a {
    display: inline-block; }
    .single-post .social-icons a img {
      width: 34px;
      height: 34px; }
    .single-post .social-icons a:hover, .single-post .social-icons a:active, .single-post .social-icons a:focus {
      border-bottom: 0 none; }

.single-post .the-description {
  font-style: italic;
  color: #6d6e71; }

.single-post .the-content {
  color: #231f20; }
  .single-post .the-content img {
    max-width: 100%;
    display: block;
    height: auto; }

.sidebar-section-header {
  background: #f7991c;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px; }

.related-video {
  margin-bottom: 10px;
  display: block; }
  .related-video:hover {
    border-bottom: 0 none; }

.related-video--title {
  background: #58595b;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 10px; }

.related-video--img {
  height: 184px;
  background-color: #58595b;
  background-size: cover;
  background-position: center center; }
  .related-video--img .play-button {
    padding: 10px; }

.related-editorial {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #6d6e71; }
  .related-editorial:hover {
    border-bottom: 2px solid #6d6e71; }

.related-editorial--img {
  width: 174px;
  height: 118px;
  background-size: cover;
  background-position: center center; }

.related-editorial--title {
  max-width: 100px;
  color: #58595b;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold; }
  .related-editorial--title:hover {
    color: #f7991c; }

/* tag page template */
.tag-page--header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0; }
  .tag-page--header h1, .tag-page--header .h1 {
    color: #414042;
    font-size: 34px;
    padding-left: 10px; }

.tag-read {
  padding-top: 60px; }
  .tag-read h1, .tag-read .h1 {
    color: #414042;
    padding-left: 0; }

/* page template (about, contact, etc) */
.page-template-default {
  background: #f7991c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f7991c 50%, #f7991c 50%, #ffffff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f7991c 50%, #f7991c 50%, #ffffff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f7991c 50%, #f7991c 50%, #ffffff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7991c', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .page-template-default main {
    min-height: calc(100vh - 270px); }

/*  404 page */
.page-404 header {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center; }
  @media (min-width: 992px) {
    .page-404 header {
      display: flex;
      justify-content: space-around; } }

.page-404 .page-content {
  text-align: center; }
