/* 
HI!
A quick note on the classnames.
2 dashes( -- ) denotes that a class is a direct child of another element:

<div class="story">
  <div class="story--title">ASDF</div>
</div>:

Try to keep that in mind when naming and styling stuff, makes components easier to reason around
 */

//variables
$black: #000000;
$white: #ffffff;
$orange:#f7991c;
$greyLightest:#e6e7e8;
$greyLight:#bcbec0;
$grey: #6d6e71;
$greyDark:#58595b;
$text: #58595b;
$textTitle: #414042;
$textDark: #231f20;   

//breakpoints for media queries
$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

/* change some bootstrap default classes*/
// 
body{
    color:$text;
    font-size: 14px;
}
// links
a{
    color:$orange;
    &:hover, &:focus{
        color:$greyDark;
        border-bottom: 1px solid #f7991c;
        text-decoration:none;
    }
}
//add a no-gutters row class
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
    > [class^="col-"], > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

// buttons
.btn{
    border-radius:0;
    border:0 none;
    transition: all 0.125s ease-out;
}
.btn-primary{
    background:$orange;
    color:$white;
    &:hover{
        background:$black;
    }
}
//forms
input[type=text], input[type=email], textarea{
    border-radius:0px;
    border-bottom: 3px solid $greyLight;
    border-right: 3px solid $greyLight;
}
.form-control{
    border-bottom:3px solid $greyLight;
    border-right:3px solid $greyLight;
}

/* default styles */
//utilities
*{
    box-sizing:border-box;
}

.inherit{ //useful for links that should be style like their parent element rather than a link. Think <a> inside an <h1>
    color: inherit!important;
    text-decoration: inherit!important;
    border-bottom: inherit!important;
}

.flex{
    display: flex;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

//defaults
h1, .h1, h2, .h2, h3, .h3{
    margin:25px 0;
    color:$textDark;
}
h1, .h1{
    font-size:60px;
}


/* template header.php, footer.php - header and footer */
// site header
.site-header{
    background:$black;
    color:$white;
    width:100%;
    position:fixed;
    z-index:9;
}
//make the fixed header work;
main{
    padding-top:78px;
}
.site-header--inner{
    align-items: center;
    justify-content:space-between;
}
.site-header--logo {
    img{
        max-width:270px;
        margin:0 auto;
    }
    
}
//there's a lot of magic numbers here, due to some design constraints
.main-navigation{
    ul{
        padding: 0;
        margin:0;
        display: flex;
        align-items:center;
        li{
            a{
                font-size:16px;
                color:$white;
                padding: 28px 22px 28px 20px;
                display: block;
                position:relative;
                transition:background 0.1s ease-out;
                &:hover, &:focus{
                    border-bottom:0 none;
                    background-color:$orange;
                    &:after{
                        background-color:$orange;
                    }
                }
                &:after{
                    display:block;
                    content:'';
                    position:absolute;
                    right:2px;
                    top:50%;
                    margin-top:-20px;
                    height:40px;
                    width:2px;
                    background-color:$greyLight;
                }
            }
            &:last-child {
                a:after{
                    display:none;
                }
            }
        }
    }
}

// site footer
.site-footer{
    border-top:3px solid $orange;
    margin:15px 0 0 0;
    padding:15px 0 0 0;
    background:$black;
    color:$greyLightest;
}

/* home page - index.php */
.section-heading{
    text-align:center;
}
// section.hero
.hero{
    padding-top:35px;
}
.periodic{
    display:block;
    position:relative;
    overflow-x:scroll;

    @media (min-width:$bp-sm){
        overflow:hidden;
    }

    .periodic--info{
        height: 210px;
        width: 398px;
        background-color: $black;
        background-image: url("../img/periodic/default.jpg");
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 130px;
        display: flex;
        align-items: flex-end;

        @media(min-width:$bp-md){
            height: 265px;
            width: 500px;
            left: 183px;
        }

    }

    .periodic--row{
        display:flex;
        justify-content:flex-start;
    }

    .row1{
        justify-content:space-between;
    }
      
    .row2 .el:nth-child(3), .row3 .el:nth-child(3){
        margin-left:auto;
    }
}

.el{
    background:$orange;
    border: 7px solid $black;
    border-top:0 none;
    height:70px;
    margin:2px 2.65px;
    transition: background 0.125s ease-in-out, color 0.125s ease-in-out;

    &.el-large{
        width: 115px;
        height: 145px;
        border-width:10px;

        .el--name{
            font-size:22px;
        }

        .el--symbol {
            font-size:70px;
        }
    }

    @media (min-width:$bp-md){
        height:90px;
        width:75px;
        margin:2px;
    }

    .el--name {
        color:$white;
        background: $black;
        font-size:12px;
        line-height:1.5em;
    }

    .el--symbol {
        color:$black;
        font-weight:bold;
        padding: 3px 10px;
        font-size:28px;
        text-align:center;

        @media (min-width:$bp-md){
            font-size:48px;
        }
    }

    &:hover, &:active, &:focus{
        cursor:pointer;
        background:$white;
        border-color:$greyLight;

        .el--name{
            background:$greyLight;
        }

        .el--symbol {
            color:$orange;
        }
    }
}
// section.watch
.watch, .read{
        .tags {
        color:$orange;
        font-size:12px;
        font-weight:bold;
        margin-top:10px;
    }
    .bg-greyDark{
        background: $greyDark;
        padding-top:30px;
    }
}

.watch-post {
    padding-bottom:40px;

    h1, .h1 {
        font-size: 22px;
        margin:20px 0;
        color: #fff;
    }

    .watch-post--video-container{
        min-height: 185px;
        background:$black;
    }
}

// section.read

.read-post {

    margin-bottom:10px;
    
    .post--details{
        //make the div take up the remaining horizontal space in the flex row
        flex-grow:3;
    }

    &.Sponsored .post--details{
        background:$greyLightest;
    }

    .post--img{
        img{
            width:100%;
        }
    }

    .post--details--inner{
        padding-bottom:10px;
        @media (min-width:$bp-md){
            max-width:500px;
        }
    }

    h1, .h1{
        font-size:22px;
        margin:10px 0;
        font-weight:bold;
        color:$text;
    }
    .post--meta{
        margin-bottom:10px;
    }
}

//ad banner container
.banner-container {
    border: 5px solid;
    margin: 30px 50px 35px;
    text-align: center;
    font-size: 22px;
    padding: 30px 0;
    color: $white;
    background: $greyDark;
}

//section.asskicker

.asskicker--banner{
    background:$black;
    color:$white;
    text-align:center;
    font-size:78px;
    font-weight:bold;
}

.asskicker--asskicker {
    color:$orange;
    font-style:italic;
}

.asskicker--img-container img {
    width:100%;
}

.asskicker--name {
    font-size:36px;
    color:$grey;
    font-weight:bold;
}



/* single post, single.php */
.single-post {

    .title {
        font-size:38px;
        margin:35px 0;
        color:$textTitle;
    }

    .post-meta {
        //has .flex class
        justify-content:space-between;
        margin-bottom:25px;
    }

    .single-post--tags{
        margin-bottom:25px;

        .el{
            width:initial;
            min-width:75px;
        }
    }

    .single-post--img {
        width:100%;
    }
}

